<?xml version="1.0"?>
<ArrayOfConnectionInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 		<ConnectionInfo>
		<Name>secman</Name>
		<DriverType>MSSQL</DriverType>
			<ConnectionString>Data Source=.;Initial Catalog=CRX;Persist Security Info=True;Integrated Security=True</ConnectionString>
	</ConnectionInfo>
</ArrayOfConnectionInfo>
