<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="ConnDB" value="Data Source=.;Initial Catalog=CRX;Integrated Security=True" />
    <add key="AppName" value="EFA" />    
  </appSettings>

</configuration>