<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application>
      <channels>
        <channel ref="tcp" port="10000">
          <serverProviders>
            <provider type="Toub.Remoting.SecureServerChannelSinkProvider, ADF.Remoting.SecureChannel" algorithm="RIJNDAEL" oaep="false" requireSecurity="true" connectionAgeLimit="600" sweepFrequency="60" />
            <provider type="ADF.Remoting.Sinks.CompressionServerSinkProvider, ADF" />
            <provider type="ADF.Remoting.Sinks.IdentityServerSinkProvider, ADF" />
            <provider type="ADF.Remoting.Sinks.WindowsLogonServerSinkProvider, ADF" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown mode="SingleCall" type="ADF.Common.SendMailServer,ADF" objectUri="SendMail" />
        <wellknown mode="SingleCall" type="ADF.Utility.SecurityManager.ServerSide,ADF.Utility.SecurityManager.ServerSide" objectUri="SecurityManager" />
        <wellknown mode="SingleCall" type="ADF.Utility.Reporter.GenericDataSet,ADF.Utility.Reporter" objectUri="GenericDataSet" />
        <wellknown mode="SingleCall" type="ADF.Data.DefaultServices.DefaultCacheRetriever,ADF" objectUri="CacheRetriever" />
        <wellknown mode="SingleCall" type="ADF.Data.DefaultServices.DefaultLookupSelectProvider,ADF" objectUri="LookupSelectProvider" />
        <wellknown mode="SingleCall" type="ADF.Data.DefaultServices.DefaultSelectProvider,ADF" objectUri="SelectProvider" />
        <wellknown mode="SingleCall" type="ADF.Security.Authentication.LoginTest,ADF.Security.Authentication" objectUri="LoginTest" />
        <wellknown mode="SingleCall" type="ADF.Utility.SecurityManager.ServerSide.DynamicMenu.XMLMenu,ADF.Utility.SecurityManager.ServerSide" objectUri="XMLMenu" />
        <wellknown mode="SingleCall" type="ADF.Data.DefaultServices.DefaultSearchManager,ADF" objectUri="SearchManager" />
        <wellknown mode="SingleCall" type="ADF.Data.DefaultServices.DefaultPageProvider,ADF" objectUri="PageProvider" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buUser,ADF.ApplicationManager.Business" objectUri="buUser" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buApplication,ADF.ApplicationManager.Business" objectUri="buApplication" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buLanguage,ADF.ApplicationManager.Business" objectUri="buLanguage" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buFunction,ADF.ApplicationManager.Business" objectUri="buFunction" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buMenu,ADF.ApplicationManager.Business" objectUri="buMenu" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buGroup,ADF.ApplicationManager.Business" objectUri="buGroup" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buMenuTree,ADF.ApplicationManager.Business" objectUri="buMenuTree" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buGroupTree,ADF.ApplicationManager.Business" objectUri="buGroupTree" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buGroupPermission,ADF.ApplicationManager.Business" objectUri="buGroupPermission" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buEntity,ADF.ApplicationManager.Business" objectUri="buEntity" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buUserInApplication,ADF.ApplicationManager.Business" objectUri="buUserInApplication" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buEntityFunction,ADF.ApplicationManager.Business" objectUri="buEntityFunction" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buOperatorType,ADF.ApplicationManager.Business" objectUri="buOperatorType" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buGroupCondition,ADF.ApplicationManager.Business" objectUri="buGroupCondition" />
        <wellknown mode="SingleCall" type="ADF.ApplicationManager.Business.buFillTableMconFcon,ADF.ApplicationManager.Business" objectUri="buFillTableMconFcon" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>