<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<startup>
		<!-- The lines below control which version of the .NET Framework will
		     be used when .NET/Link is launched with InstallNET[].
		     As written, these lines will cause .NET/Link to use the 3.0
		     or 2.0 versions of the .NET Framework, if available, (note that
		     the 3.0 version is really just the 2.0 version with some extra
		     assemblies), otherwise the 1.1 version. To force the use of
		     the 1.1 version, delete the first line.
		-->		
		<supportedRuntime version="v4.0" />
	</startup>
</configuration>
