<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WcfService_WebDev_FromTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <WcfService_WebDev_FromTemplate.Properties.Settings>
      <setting name="WSMyService_WSBaseRef_WSBase" serializeAs="String">
        <value>http://localhost:40197/WSBase.asmx</value>
      </setting>
    </WcfService_WebDev_FromTemplate.Properties.Settings>
  </applicationSettings>
</configuration>