<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TestGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<applicationSettings>
		<TestGui.Properties.Settings>
   <setting name="TestGui_localhost_Service" serializeAs="String">
    <value>http://localhost:1792/Service.asmx</value>
   </setting>
   <setting name="TestGui_TestGui_localhost_Service" serializeAs="String">
    <value>http://localhost:1792/Service.asmx</value>
   </setting>
  </TestGui.Properties.Settings>
  </applicationSettings>
  <!-- ATTENTION! Element appSettings must be placed AFTER applicationSettings, otherwise the configuration manager reports errors.  -->
  <appSettings>
    <!-- Path below corrected according to the new directory structure (are double back-slashes really needed?) -->
    <add key="XMLPath" value="%DevProjects%\eFakturiranje\\EFA_Solution\\95_Test\\TestniPaketi\\paket_test.xml" />
  </appSettings>

</configuration>