<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LabexBis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <appSettings>

    <!-- If true then the Calypso service receiver is started when the server starts: -->
    <add key="ModelFileObservationOrder" value="D:\users\igor\cvis\igcs\igtest\tmp_prem\prlab\LabexBis\schemas\SpecimenObservationOrder.xml"/>

    <!-- If true then the Calypso service receiver is started when the server starts: -->
    <add key="ModelFileObservationEvent" value="D:\users\igor\cvis\igcs\igtest\tmp_prem\prlab\LabexBis\schemas\SpecimenObservationEvent_Model.xml"/>

    <!-- If true then the Calypso service receiver is started when the server starts: -->
    <add key="ModelFileFinancialTransaction" value="D:\users\igor\cvis\igcs\igtest\tmp_prem\prlab\LabexBis\schemas\DetailedFinancialTransaction_Model.xml"/>

    <!-- If true then the Calypso service receiver is started when the server starts: -->
    <add key="StartCalypsoReceiver" value="False"/>

    <!-- If true then Console.Readline() is executed in Calypso receiver in order to allow attaching a debugger: -->
    <add key="DebugCalypsoReceiver" value="False"/>

    <!-- If specified then the message is received from a file rather than form a web service: -->
    <add key="MessageFile" value="D:\users\igor\cvis\igcs\igtest\tmp_prem\prlab\LabexBis\schemas\SpecimenObservationOrder.xml"/>

    <!-- Directory where schema files and template files are located: -->
    <add key="MessageSchemaDir" value="D:\users\igor\cvis\igcs\igtest\tmp_prem\prlab\LabexBis\schemas\"/>

    <!-- Directory where incoming messages are stored.: -->
    <add key="MessageIncomingDir" value="D:\users\igor\cvis\igcs\igtest\tmp_prem\prlab\LabexBis\schemas\testmessages\"/>

    <!-- Directory where outgoing messages are stored.: -->
    <add key="MessageOutgoingDir" value="D:\users\igor\cvis\igcs\igtest\tmp_prem\prlab\LabexBis\schemas\testmessages\"/>

    <!-- URL of the Calypso web service through which messages are sent: -->
    <add key="MessageServiceUrl" value="xxhttp://217.72.72.22:8080/InfonetWS/services/calypsoNS"/>
    <add key="MessageServiceUrl_Old" value="xxhttp://195.246.6.201:8080/InfonetWS/services/calypsoNS"/>

  </appSettings>


  <applicationSettings>
        <LabexBis.Properties.Settings>
            <setting name="LabexBis_WebReference_CalypsoWSNSService" serializeAs="String">
                <value>xxhttp://195.246.6.201:8080/InfonetWS/services/calypsoNS</value>
            </setting>
        </LabexBis.Properties.Settings>
    </applicationSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
